<!-- Homepage -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileShare</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      body {
        background-color: rgb(255, 255, 255);
        font-size: 20px;
      }
      .wrapper {
        width: 700px;
        margin: 0 auto;
        background-color: #3bb19b;
        padding: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 100px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    </style>
  </head>
  <body>
    
    <div class="wrapper">
      <form
        action="/upload"
        method="post"
        style="
          display: grid;
          gap: 0.5rem;
          grid-template-columns: auto 1fr;
          max-width: 500px;
          margin: 0 auto;
        "
        enctype="multipart/form-data"
      >
        <label for="file">File:</label>
        <input type="file" id="file" name="file" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <button style="grid-column: span 2" type="submit">SUBMIT</button>
      </form>
    </div>
    <br><br>
    <center>
    <% if (locals.fileLink != null) { %>
      <div style="margin-bottom: 1rem;
      width: 700px;
        margin: 0 auto;
        background-color: #3bb19b;
        padding: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 100px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
        Your file is uploaded!
        <br />
        <form onsubmit="sendEmail(event)">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          <input type="text" value="<%= locals.fileLink %>" id="fileLink" name="fileLink" style="display: none;" />      
          <button type="submit">Send email</button>
        </form>
        <br>
        Link:<a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        
      </center></div>
      <% } %>
  </body>
  <script>
    function sendEmail(event, fileLink) {
      event.preventDefault(); // prevent the form from submitting normally
    
      const emailAddress = document.getElementById('email').value;
      const emailBody = document.getElementById('fileLink').value;
      const mailtoLink = `mailto:${emailAddress}?body=${encodeURIComponent(emailBody)}`;
    
      window.open(mailtoLink, "_blank");
    }
    </script>
  <!-- href="https://mail.google.com/mail/u/0/#inbox?compose=new" -->
</html>