<!-- Download page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download page</title>
  <style>
    body{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
.wrapper{
    width: 700px;
    margin: 0 auto;
    background-color: #3bb19b;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

  </style>
</head>
<body>
  <% if (locals.error) { %>
    <div style="color: red; margin-bottom: 1rem;">
      Incorrect Password
    </div>
  <% } %>
  <div class="wrapper">
  <form method="post" style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <button style="grid-column: span 2;" type="submit">Download</button>
  </form>
  <div>
</body>
</html>